link(href="/bower_components/SyntaxHighlighter/styles/shCore.css",
      rel="stylesheet")
link(href="/bower_components/SyntaxHighlighter/styles/shThemeDefault.css",
      rel="stylesheet")
script(type="text/javascript",
        src="/bower_components/SyntaxHighlighter/scripts/XRegExp.js")
script(type="text/javascript",
        src="/bower_components/SyntaxHighlighter/scripts/shCore.js")
script(type="text/javascript",
        src="/bower_components/SyntaxHighlighter/scripts/shBrushJScript.js")